<span class="article-page-section-wrapper article-page-section-source-code-wrapper">
  <span class="article-page-section article-page-section-source-code">
    <span class="article-page-section-source-code-header-wrapper">
      <span class="article-page-section-source-code-header">
        <a class="article-attachment-link" target="_blank" href="<<sAttachmentRelativeURL>>"><<sSectionName>></a>
      </span>
    </span>
    <span class="article-source-code-wrapper">
      <span class="article-source-code source-code"><<sSectionContentHTML>></span>
    </span>
  </span>
</span>