<span class="main-page-article-wrapper">
  <span class="main-page-article">
    <span class="main-page-article-title-wrapper">
      <a href="<<sArticleRelativeURL>>" class="main-page-article-title"><<sArticleTitle>></a>
    </span>
    <span class="main-page-article-tags-wrapper">
      <span class="main-page-article-tags"><<sArticleTagIconsHTML>></span>
    </span>
    <span class="main-page-article-synopsis-wrapper">
      <span class="main-page-article-synopsis"><<sArticleSynopsisHTML>></span>
    </span>
    <span class="main-page-article-link-wrapper">
      <a href="<<sArticleRelativeURL>>" class="main-page-article-link">&#x2937; read more</a>
    </span>
    <span class="main-page-article-date-wrapper">
      <span class="main-page-article-date">Published on <<sArticleDate>>.</span>
    </span>
  </span>
</span>
