<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; disown-opener; referrer no-referrer;"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@berendjanwever"/>
    <meta name="twitter:title" content="<<sTitle>>"/>
    <meta name="twitter:description" content="<<sSummary>>"/>
    <meta name="twitter:image" content="<<sAbsoluteSiteURL>>Images/Avatar.png"/>
    <link rel="alternate" type="application/rss+xml" title="SkyLined RSS Feed" href="/rss.xml"/>
    <link rel="stylesheet" type="text/css" href="Stylesheets/Page.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="Stylesheets/Markdown.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="Stylesheets/SkyLight.css" media="screen"/>
    <title><<sTitle>></title>
    <script src="Javascripts/Test Browser Privacy and Security.js">
      This script will check to see if the user's browser has known privacy and security issues and warn about them.
    </script>
    <script>
      fReportInlineScriptContentSecurityPolicyViolation();
    </script>
  </head>
  <body>
    <span class="banner-logo">
      <span class="internal-links banner-links card">
        <a class="icon" title="Home" href="/"/>
          <img class="icon" src="/Images/Home.svg"/>
        </a>
      </span>
      <span class="external-links banner-links card">
        <a class="icon" title="Twitter" href="https://twitter.com/berendjanwever">
          <img class="icon" src="/Images/Twitter.svg"/>
        </a>
        <a class="icon" title="GitHub" href="https://github.com/SkyLined">
          <img class="icon" src="/Images/GitHub.svg"/>
        </a>
        <a class="icon" title="Email" href="mailto://blog@skylined.nl">
          <img class="icon" src="/Images/Email.svg"/>
        </a>
        <a class="icon" title="GnuPG key" href="/GnuPG.txt">
          <img class="icon" src="/Images/GnuPG.svg"/>
        </a>
        <a class="icon" title="RSS Feed" href="/rss.xml">
          <img class="icon" src="/Images/RSS Feed.svg"/>
        </a>
      </span>
    </span>
    <span id="oSecurityWarningsElement" class="security-warnings card">
      <span id="oSecurityWarningsPlaceholderElement">
        This is a friendly warning that your web-browser does not currently protecting your privacy and/or security as
        well as you might want. Click on this message to see more information about the issue(s) that were detected.
      </span>
      <span id="oSecurityWarningsContentElement" class="security-warnings-content">
        <img id="oSecurityWarningsContentCloseButtonElement" class="security-warnings-content-close-button" src="Images/X.svg"/>
      </span>
    </span>
    <<sPageContentHTML>>
    <span class="footer card" rel="license">
      <a href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img class="creative-commons-license-icon" alt="Creative Commons License" src="Images/Creative Commons License by-nc.png"/>
        This work by
        <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">
          SkyLined
        </span>
        is licensed under a Creative Commons Attribution-Non&#8209;Commercial 4.0
        International License.
      </a>
    </span>
  </body>
</html>
